* {
  box-sizing: border-box;
  text-align: center;
}

html {
  background-color: #1cc413;
  background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
  min-height: 100vh;
}

.App {
  background-color: #1cc413;
  background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
  min-height: 100vh;
}

.Navbar {
  background-color: rgb(22, 22, 22);
  opacity: 0.8;
}

.route-link {
  margin: 1rem;
}

.link {
  font-family: "Titillium Web";
  color: white;
}
.link:hover {
  color: white;
  text-decoration: none;
}

.leagues-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.league-name {
  font-family: "Titillium Web";
  color: black;
  padding-bottom: 2rem;
}

.league-card {
  border: 1px solid rgba(158, 158, 158, 0.5);
  box-shadow: 8px 10px 15px -6px rgba(158, 158, 158, 1);
  background: white;
  margin: 1rem;
  padding: 1rem 1rem;
  border-radius: 10px;
  transition: all 0.5s;
  width: 30vw;
  min-width: 320px;
  opacity: 0.8;
}
p {
  color: white;
  font-family: "Titillium Web";
}

.match-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
}
.match-detail {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.team {
  width: 10vw;
  min-width: 100px;
}
.team-name {
  display: flex;
  flex-direction: column;
  min-width: 100px;
}
.match-additionalinfo {
  color: grey;
  font-family: "Titillium Web";
  margin-bottom: 0;
}

.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #808080;
  font-size: 1.2rem;
}
